


@font-face {
    font-family: $ff-Exo2Regular;
    src: url(../fonts/Exo_2/static/Exo2-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-OpenSansRegular;
    src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-OpenSansSemiBold;
    src: url(../fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $ff-OpenSansBold;
    src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: $ff-SourceSansProRegular;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-SourceSansProBold;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $ff-SourceSansProBlack;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf);
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: $ff-CeraProLight;
    src: url(../fonts/ceraprosv/CeraPro-Light.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $ff-CeraProMedium;
    src: url(../fonts/ceraprosv/CeraPro-Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $ff-CeraProBold;
    src: url(../fonts/ceraprosv/CeraPro-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $ff-FontAwesome5FreeRegular;
    src: url(../fonts/font-awesome/FontAwesome5Free-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-FontAwesome5BrandsRegular;
    src: url(../fonts/font-awesome/FontAwesome5Brands-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-FontAwesome5FreeSolid;
    src: url(../fonts/font-awesome/FontAwesome5Free-Solid.otf);
    font-weight: 900;
    font-style: normal;
}
