
$color-white: #ffffff;
$color-black: #000;
$color-yellow: #FAAA01;
$color-pink: #EE5253;
$color-grey: #9E9E9E;
$color-green:  #79B93C;

$ff-Exo2Regular: 'Exo2-Regular';

$ff-OpenSansRegular: 'OpenSans-Regular';
$ff-OpenSansSemiBold: 'OpenSans-SemiBold';
$ff-OpenSansBold: 'OpenSans-Bold';

$ff-SourceSansProRegular: 'SourceSansPro-Regular';
$ff-SourceSansProBold: 'SourceSansPro-Bold';
$ff-SourceSansProBlack: 'SourceSansPro-Black';

$ff-CeraProLight: 'CeraPro-Light';
$ff-CeraProMedium: 'CeraPro-Medium';
$ff-CeraProBold: 'CeraPro-Bold';

$ff-FontAwesome5FreeRegular: 'FontAwesome5Free-Regular';
$ff-FontAwesome5BrandsRegular: 'FontAwesome5Brands-Regular';
$ff-FontAwesome5FreeSolid: 'FontAwesome5Free-Solid';