
.selection{
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);

    &__inner{
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    &__title{
        @include font-style(43px, $ff-SourceSansProBold, 700, $color-pink);
        line-height: 48.16px;
        text-align: center;
    }
    &__cards{
        display: flex;
        justify-content: space-evenly;
    }
    &__card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 300px;
        &--img{
            margin-bottom: 41px;
        }
        &--title{
            @include font-style(22px, $ff-SourceSansProBold, 700, $color-black);
            line-height: 26.4px;
            margin-bottom: 10px;
        }
        &--text{
            @include font-style(18px, $ff-SourceSansProRegular, 400, $color-grey);
            line-height: 25.2px;
            text-align: center;
        }
    }
}